/* underline */
.underline {
    height: 0;
    border: 0.5px solid transparent;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(#ccc 0 0) padding-box, linear-gradient(to right, #C2000C, #FF7F00) border-box;
    border-radius: 15px;
}
.club_details__contet__chitiet2{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.015em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    width: calc(100% - 357px);
    height: calc(100% - 120px);
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.club_details__contet__chitiet2 div{
    width: 100%;
    margin: auto;
    text-align: center;
}
.square {
    width: 0;
    height: 0;
    border: 2px solid #000;
    position: absolute;
    transform: rotate(45deg);
}

.club_details_num{
    padding: 20px;
}
.square1 {
    left: -1px;
    border-color: #C2000C;
}

.square2 {
    right: -1px;
    border-color: #FF7F00;
}

* {
    font-family: "Be Vietnam Pro";
}

body{
    margin: 0px;
}
.main {
    width: 100%;
    min-width: 1440px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    margin: 0;
}


.selection1 {
    min-width: 1440px;
    box-sizing: border-box;
    padding-top: 125px;
    position: relative;
    width: 100%;
    height: 504px;
    background: linear-gradient(to bottom, #F4A862 45%, #FFFFFF 100%);
    background-size: cover;
}

.selection1 .wrapper {
    width: calc(100% - 104px*2);
    margin: auto;
    display: flex;
    position: relative;
}

.selection1--left {
    position: relative;
}

.selection1__title {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    display: flex;
    align-items: center;
    color: #C2000C;
    background-clip: text;
    letter-spacing: -0.58px;
    position: relative;
    transform: translateX(-4px);
    width: 465px;
}

.selection1 .underline {
    margin-top: 18px;
    width: 331px;
    transform: translateX(-2px);
}

.selection1__comment {
    margin-top: 40px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #7C6565;
}

.selection1--right {
    background-image: url(../../assets/img/club/IlluBan.png);
    width: 511px;
    height: 438px;
    background-size: cover;
    position: absolute;
    right: 0;
    margin-top: 30px;
    transform: translate(-1px, -95px);
}

.container{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.container__heading{
    width: 100%;
    height: 216px;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
}



.container__heading_name{
    width: auto;
    height: 72px;
    color: rgba(194, 0, 12, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    white-space: nowrap;
}

.container__heading_rectangle{
    width: 216px;
    height: 5px;
    background: linear-gradient(90deg, #F57F20 0%, #D62B08 100%);
    margin-top: 12px;
}

.container__heading_coment{
    height: 48px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 12px;
    white-space: nowrap;
}
.ornament1{
    position: absolute; 
    top: 12px;
    left: 28%;
}
.ornament2{
    position: absolute; 
    top: 156px;
    left: 5%;
}
.ornament3{
    position: absolute; ;  
    top: 0px;
    left: 91%;
}
.ornament4{
    position: absolute;    
    top: 108px;
    left: 90%;
}
.ornament5{
    position: absolute;     
    top: 0px;
    left: 93%;
}



.club_info_section{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.club_info_section__club_list{
    width: 1232px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;

}

.club_card{
    width: 388px;
    height: 464px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
    cursor: pointer;
}

.club_card__content{
    width: 358px;
    height: 158px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; 
}

.club_card__content__name_and_club_card__content__position{
    width: 356px;
    height: 68px;  
    background-color: white;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.club_card__contact_info{
    width: 356px;
    height: 80px;
    background-color: #FFFFFF;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: -12px;
}


.club_card__content__name{
    width: 358px;
    height: 36px;  
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(194, 0, 12, 1);
}

.card__content__position{
    width: 358px;
    height: 27px;    
    color: rgba(255, 127, 0, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: center;  
}

.club_card__contact_info{
    display: flex;
    height: 20px;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.015em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    margin-top: 4px;
    align-content: flex-start;
    justify-content: flex-end;
}

.club_card__info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.club_card__info div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.club_card__info__office_phone{
    white-space: nowrap;
    height: 20px;
    width: 96px;
}

.club_details__image{
    border-radius: 0px 0px 20px 0px;
}

.club_card__img{
    width: 358px;
    height: 250px;
    border-radius: 20px;
}


.club_card__info__email{
    height: 20px;
    width: 74px; 
}



.email,.cell_phone,.office_phone{
    margin-left: 8px;
}

.cell_phone{
    margin-left: 8px;
}
.office_phone{
    margin-left: 8px;
}


.club_details{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.club_details.show {
    display: block;
  }




.club_details_num{
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 912px;
}

.club_details__image_and_contacte{
    width: 32.5%;
    height:100%;
    display: flex;
    margin-left: 5%;

}

.club_details__image{
    width: 32.5%;
    height: auto;
    margin: 0px 10px 0 0;
}

.club_details__contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.015em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    position: absolute;
}
.club_details__contact__inffo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.club_details__contact__inffo div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

.club_details__contact__inffo div label{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

.club_details__contect__name_and_chuclub{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.club_details__contect{
    display: grid;
    width: calc(100% - 337px);
    position: absolute;
    top: 5%;
    left: 35%;
    font-size: 24px;
    justify-content: center;
}

.club_details__contect__name{
    color: #3B3B3B;
}

.club_details__contect__chuclub{
    color: #D62B08;
}

.club_details__contet__chitiet{
    font-size: 12px;
    color: black;
}

.pagination{
    position: static;
    height: 32px;
    width: 88%;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row
}

.pagination button{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__num_page{
    background-color: white;
    border: 2px #D62B08;
    border-radius: 4px;
    border-style: solid ;
}


.pagination__previous_page,.pagination__next_page{
    background-color: rgba(238, 76, 86, 0.5);
    border-style: none ;
    
}

.pagination__previous_page,.pagination__next_page img{
   
}




@media (max-width: 768px) {
    .container__heading{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .container__heading_name,.container__heading_coment{
        word-wrap: break-word;
        text-align: center;
        height: auto;
        white-space: normal;
    }

    .container__heading_coment{
        margin-top: 20px;
    }
    .club_details__contact{
        
        font-size: 8px;
    }

    .club_details__contact__inffo div{
        margin-top: -8px;
    }
    
    .club_details__contect__name_and_chuclub{
        font-size: 18px;
        top: -3%;
        margin-top: -5%;
    }
    

    .club_details__contact__inffo div label img {
        width: 12px;
        height: 12px;
        margin-top: 4px;   
    }

    .club_details__contact__inffo div div{
        margin-top: 4px;
    }



}
