/* section1 */
*{
    text-decoration: none;
}

:root{
    --main-color: #FF7F00;
    --second-color: #C2000C;
}

.section1 {
    width: 100%;
    background-color: white;
    justify-content: center;
    margin-top: 118px;
    position: relative;
}

.section1__title {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 893px;
    height: 144px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #C2000C;
}

.section1__box-info {
    display: flex;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 478px;
    height: 36px;
    gap: 46px;
    margin-top: 20px;
}

.section1__time {
    display: flex;
    gap: 22.5px;
}

.section1 * {
    display: flex;
    align-items: center;
}

.section1__hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    width: auto;
    height: auto;
    background: #993339;
    border-radius: 40px;
}

.section1__hashtag p {
    display: flex;
    justify-content: center;
    width: 72px;
    height: 27px;
    font-family: 'roboto';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.015em;
    text-align: left;
    overflow: hidden;
    color: white;
}

.section1__time p {
    display: flex;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #B0B0B0;
}

.section1__time .time {
    width: 200px;
    height: 36px;
}

.section1__box-img{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section1__box-img .wrapper{
    width: calc(100% - 104*2px);
    display: flex;
    gap: 16px;
}
.section1__box-img .wrapper .img-left{
    width: calc((100% - 16px) / 1216 * 485);
}
.section1__box-img .wrapper .img-right{
    width: calc((100% - 16px) / 1216 * 731);
}

/* section2 */
.section2{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.section2 .wrapper{
    margin: auto;
    width: calc(100% - 104px*2);
}
.section2 .wrapper .inner_title{
    font-family: "roboto";
    font-style: normal;
    color: var(--second-color);
    font-size: 28px;
    margin-bottom: 2%;
}

.section2 .wrapper .inner_content{
    font-family: "roboto";
    font-style: normal;
    color: #666666;
    font-size: 16px;
    margin-bottom: 1%;
}
.inner_img{
    width: 60%;
}
/* section3 */

.selection3 {
    margin-top: 100px;
    margin-bottom: 31px;
    width: 100%;
    justify-content: center;
}

.selection3 .wrapper {
    padding-top: 30px;
    margin: auto;
    width: calc(100% - 104px*2);
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
}

.selection3 .item {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #ebebeb;
    border-radius: 25px;
    height: 395px;
}

.selection3 .item img {
    cursor: pointer;
    width: 100%;
    height: 265px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.selection3 .item__content {
    border-radius: 10px 10px 25px 25px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 135px;
    background-color: white;
}

.selection3 .item__hashtag {
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    background: rgba(128, 0, 8, 0.8);
    border-radius: 40px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.015em;
    color: #FFF;
}

.selection3 .item__title {
    cursor: pointer;
    width: 328px;
    height: 30px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #3B3B3B;
    align-self: stretch;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

.selection3 .item__date {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 8px;
}

.selection3 .item__date p {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #B0B0B0;
}

.selection3 .item__date .item__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    color: #C2000C;
}

.selection3 .item__date .item__button img {
    width: 7.41px;
    height: 12px;
    margin-left: 9px;
}