.header {
    min-width: 1440px;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px 0px #0000000D;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.header .wrapper {
    width: calc(100% - 104*2px);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 162.34px;
    height: 50.27px;
    position: relative;
    transform: translate(0, 1px);
    cursor: pointer;
}

.header--left svg {
    display: none;
}

.header--right {
    display: flex;
    align-items: center;
    gap: 177.82px;
    transition: 0.2s;
}

.header--right svg {
    display: none;
}

.nav {
    display: flex;
    list-style: none;
    gap: 80px;
    height: 32px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav__link {
    display: inline-flex;
    height: 32px;
}

.nav__link:hover a {
    transition: 0.05s;
    transform: translate(-2px, 2px);
    color: #FE7F00;
}

.nav__link a {
    margin: auto;
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    position: relative;
    transform: translate(-2px, 0);
    color: #000000;

}

.header__input {
    display: flex;
    align-items: center;
    gap: 39.1px;
}

.header__searchbox {
    position: relative;
    transform: translateX(-1px);
    height: 39px;
    width: 120px;
    border-right: none;
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s;
}
.header__input:hover .header__searchbox{
    width: 150px;
    transition: 0.2s;
}
.header__input:hover .searchbox__input{
    width: 87%;
    transition: 0.2s;
    background: linear-gradient(to right, rgb(254, 127, 0) 10%, rgb(196, 0, 12) 90%);
    color: white;
}
.header__searchbox * {
    height: 100%;
}

.searchbox__input {
    width: 83%;
    box-sizing: border-box;
    height: 39px;
    user-select: none;
    border-radius: 0px 50px 50px 0px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    text-align: left;
    padding: 0px 0 0 25px;
    outline: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;
    background-color: transparent;
    border: 1.5px solid black;
    border-left: none;
}
.searchbox__img {
    pointer-events: none;
    user-select: none;
    box-sizing: border-box;
    padding: 8px;
}

.header__login {
    position: relative;
    transform: translate(-19px, -5px);
    border: none;
    background-color: transparent;
    width: 38.54px;
    height: 38.21px;
    z-index: 2;
}

.login__img1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 20px), calc(-50% + 5.5px));
    height: 100%;
    z-index: 1;
    padding: 10px;
}

.search_bar {
    position: absolute;
    /* display: none; */
    opacity: 0;
    width: 365px;
    height: 106px;
    background-image: url(../../assets/img/header/SeachBar_.png);
    background-size: cover;
    right: 45px;
    z-index: -1;
    transition: 0;
    top: -1000px;
}
/* @media screen and (max-width: 1100px) {
    .nav {
        gap: 38.78px;
    }

    .nav__link {
        font-size: 18px;
    }

    .header--right {
        gap: 23.85;
    }
}

@media screen and (max-width: 970px) {
    .header--left {
        display: flex;
        align-items: center;
    }

    .header--left svg,
    .header--right svg {
        display: absolute;
        top: 50%;
        display: initial;
        cursor: pointer;
    }

    .header--left:active svg path {
        fill: #E48036;
    }

    .header__input {
        display: none;
    }

    .nav {
        position: fixed;
        display: none;
        left: 0;
        top: 64px;
        transform: translateX(0px);
        height: calc(29 * 4px);
        gap: 1px;
        width: 149px;
        left: 0px;
        transition: 0.5s;
        position: absolute;
    }

    .logo {
        position: absolute;
        transform: translate(calc(-50% + 14px), -50%);
        left: 50%;
        top: 50%;
    }

    .search_bar {
        position: absolute;
        display: none;
        opacity: 0;
        width: 365px;
        height: 106px;
        background-image: url(../../assets/img/header/SeachBar_.png);
        background-size: cover;
        top: 6px;
        right: 45px;
        z-index: -1;
    }
}
@media screen and (max-width: 750px) {
    .header .wrapper {
        width: calc(100% - 160px);
    }
}
@media screen and (max-width: 450px) {
    .header .wrapper {
        width: calc(100% - 15vw);
    }
} */
 
* {
    padding: 0;
    margin: 0;
}

.login-form {
    overflow-x: hidden;
    width: 347px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding-block: 0;
    padding-inline: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: none;
}

.login-form__header {
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding-inline: 20px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background: linear-gradient(270deg, #F57F20 0%, #D62B08 100%);
}

.login-form__footer {
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding-inline: 20px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background: linear-gradient(270deg, #F57F20 0%, #D62B08 100%);
}

.login-form__title {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.1px;
    text-align: center;
    color: #FFFFFF;
}

.login-form__input {
    outline: none;
    width: 100%;
    padding: 18px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;
}

.login-form__input:nth-of-type(1) {
    margin-block: 30px 0px;
}

.login-form__input:nth-of-type(2) {
    margin-block: 22px 40px;
}

.login-form__close-btn {
    border: none;
    border-radius: 10px;
    background-color: #C2000C;
    color: white;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1px 9px;
    gap: 3.5px;
}

.login-form__close-btn svg {
    margin-right: 3.5px;
}

.login-form__submit-btn {
    margin: auto;
    border: none;
    width: 154px;
    height: 36.84px;
    padding: 6px 5px 6px 5px;
    gap: 10px;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 40.16px;
    background: linear-gradient(265.96deg, #F57F20 -54.72%, #D62B08 150.68%);
}
